In [5]:
import pyarrow.parquet as pq

trips = pq.read_table('../data/taxi_data_preprocessed/2020/yellow_tripdata_2020-02.parquet')
trips = trips.to_pandas()

In [6]:
trips.head()

,DOLocationID,PULocationID,RatecodeID,VendorID,congestion_surcharge,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,Airport_fee,trip_id
0,37,249,1.0,1,2.5,3.00,35.50,0.3,0.5,1.0,1,N,7.85,0.00,47.15,2020-02-01 00:52:52,2020-02-01 00:00:00,7.10,NaN,200201000000001
1,130,48,NaN,2,NaN,2.75,44.93,0.3,0.5,NaN,0,None,0.00,6.12,54.60,2020-02-01 00:34:00,2020-02-01 00:00:00,12.89,NaN,200201000000002
2,80,17,NaN,2,NaN,2.75,19.56,0.3,0.5,NaN,0,None,0.00,0.00,23.11,2020-02-01 00:13:00,2020-02-01 00:00:00,2.22,NaN,200201000000003
3,234,90,1.0,2,2.5,0.50,5.00,0.3,0.5,5.0,1,N,1.32,0.00,10.12,2020-02-01 00:04:17,2020-02-01 00:00:01,0.85,NaN,200201000000004
4,145,249,1.0,2,2.5,0.50,19.50,0.3,0.5,6.0,1,N,5.82,0.00,29.12,2020-02-01 00:21:37,2020-02-01 00:00:01,5.43,NaN,200201000000005

In [7]:
print(trips.head())

   DOLocationID  PULocationID  RatecodeID  VendorID  congestion_surcharge  \
0            37           249         1.0         1                   2.5
1           130            48         NaN         2                   NaN
2            80            17         NaN         2                   NaN
3           234            90         1.0         2                   2.5
4           145           249         1.0         2                   2.5

   extra  fare_amount  improvement_surcharge  mta_tax  passenger_count  \
0   3.00        35.50                    0.3      0.5              1.0
1   2.75        44.93                    0.3      0.5              NaN
2   2.75        19.56                    0.3      0.5              NaN
3   0.50         5.00                    0.3      0.5              5.0
4   0.50        19.50                    0.3      0.5              6.0

   payment_type store_and_fwd_flag  tip_amount  tolls_amount  total_amount  \
0             1                  N        7.85          0.00         47.15
1             0               None        0.00          6.12         54.60
2             0               None        0.00          0.00         23.11
3             1                  N        1.32          0.00         10.12
4             1                  N        5.82          0.00         29.12

  tpep_dropoff_datetime tpep_pickup_datetime  trip_distance  Airport_fee  \
0   2020-02-01 00:52:52  2020-02-01 00:00:00           7.10          NaN
1   2020-02-01 00:34:00  2020-02-01 00:00:00          12.89          NaN
2   2020-02-01 00:13:00  2020-02-01 00:00:00           2.22          NaN
3   2020-02-01 00:04:17  2020-02-01 00:00:01           0.85          NaN
4   2020-02-01 00:21:37  2020-02-01 00:00:01           5.43          NaN

           trip_id
0  200201000000001
1  200201000000002
2  200201000000003
3  200201000000004
4  200201000000005

In [8]:
trips.columns

Index(['DOLocationID', 'PULocationID', 'RatecodeID', 'VendorID',
       'congestion_surcharge', 'extra', 'fare_amount', 'improvement_surcharge',
       'mta_tax', 'passenger_count', 'payment_type', 'store_and_fwd_flag',
       'tip_amount', 'tolls_amount', 'total_amount', 'tpep_dropoff_datetime',
       'tpep_pickup_datetime', 'trip_distance', 'Airport_fee', 'trip_id'],
      dtype='object')